$main-color: #fff;
$secondary-color: #f1f1f1;
$hover-color: #ccc;
$extra-font-color: #757575;
$address-font-color: #607d8b;
$footer-hover-color: #4caf50;

$main-font: "Times New Roman", Georgia, Serif;
$secondary-font: "Playfair Display", serif;

$font-size-little: 15px;
$font-size-medium: 18px;
$font-size-medium-20: 20px;
$font-size-h1: 36px;
